body{
    background-color: black;
    background-image: url('https: //img.freepik.com/free-vector/blue-copy-space-digital-background_23-2148821698.jpg?t=st=1725876450~exp=1725880050~hmac=454357829475e5d9320fe22405903aa908893c16c29d773f90b79e54734314c9&w=740');
    color: white;
}