body{
    background-color: black;
    background-image: url('https: //images.unsplash.com/photo-1671882865872-3f3740f95e77?q=80&w=1330&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    color: white;
    font-family: Arial;
    
}
.title{
    margin-top: auto;

}